/* styling for index.html */

/* navbar */

html {
  scroll-behavior: smooth;
}

.navbar {
  overflow: visible;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  z-index: 3;
  width: 100%;
}


nav button {
  float: right;
}

.callout-container {
  height: 100vh;

  background: url('../images/bw-crowd-pexels-photo-1299086.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center;
}

.jumbotron h1 {
  color: #374463;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 7em;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: 1em;
}

.jumbotron h2 {
  color: #4A5B84;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 2em;
}

/* image breaks between graph pages*/

.br-image-victoria {
  height: 50vh;

  background: url('../images/victoria-station-busy-people-victoria-735795.jpeg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.br-image-market {
  height: 50vh;

  background: url('../images/bw-crowd-pexels-photo-757432.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* babies img source:https://www.pewresearch.org/fact-tank/2013/09/24/the-odds-that-you-will-give-birth-to-a-boy-or-girl-depend-on-where-in-the-world-you-live/*/

.br-image-kids {
  height: 50vh;

  background: url('../images/kids.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}


/* footer styles */

footer {
  background-color: #5A6169;
  color: #fff;
}

.footer-image {
  color: #fff;
  font-size: 1.25em;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 5px;
  display: inline-block;
}

.footer-heading {
  color: #fff;
  font-size: 1.25em;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

.share-right,
.footer-text {
  text-align: right;
  display: inline-block;
}

/* graph styling */

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph-styling {
  text-align: center;
  padding-bottom: 30px;
}

#container {
  width: 1200vh;
  height: 1200vh;

}

.graphs {
  padding-top: 30px;
  padding-bottom: 30px;
}



/* table styling */

.objecttable td {
  padding: 8px;
}

th {
  text-align: left;
}

th,
td {
  padding: 0 1em 0.5ex 0;
}

th.center,
td.center {
  text-align: center;
}

th.num,
td.num {
  text-align: right;
}

.table-color {
  background-color: #5A6169;
  color: #fff;
}

/* headers */

h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: #4A5B84;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}


.block-divider {
  width: 500px;
  height: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: #3c3744;
}


/* button styling */

.btn {
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

.hide {
  display: none;
}


/*general colouring*/

/* electric blue color = #090c9b (9/12/155)
black/grey for general text color = #3c3744 (60/55/68)
mid-blue color = #3d52d5 (61/82/213)
light blue color = #b4c5e4 (180/197/228)
off white color = #fbfff1 (251/255/241)
 */
